@import "card.css";
@import "profile-section.css";
@import "post-details.css";
@import "socialmedia.css";

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* full-sized  container that fills up the page */
div {
    width: 100%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

.grid-layout {
    display: grid;
}

.header {
    background-color: blue;
    color: white;
    padding: 16px;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 8px;
    padding: 0.5em;
    height: fit-content;
    width: fit-content;
    font-size: 22px;
    font-family: 'Roboto', serif;
}

.content {
    grid-area: ct;
}

.footer {
    grid-area: ft;
    padding: 16px;
}

@media (min-width: 1000px) {

    .grid-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}