.profile-section {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.profile-image {
    width: 160px;
    height: 160px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}